@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1624006353723') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenlei:before {
  content: "\e628";
}

.icon-wode:before {
  content: "\e657";
}

.icon-3:before {
  content: "\e61a";
}

.icon-shouye:before {
  content: "\e618";
}

